* {
  padding:0;
  margin:0;
}
body {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  background-color:#112233;
}
.container {
  width: 200px;
  height:200px;
  border:20px solid #fcd779;
  border-top: 20px solid white;
  border-radius:50%;
  animation: rotate 4s infinite linear;
}

@keyframes rotate {
  0%{
    transform:rotate(0deg);  }
  100% {
    transform: rotate(360deg);
  }
}
